body{
    margin: 0;
    background-color:black ;
    color: white;
    font-family: Poppins;
    background-image: "images/aHR0cHM6Ly9iLnN0YWJsZWNvZy5jb20vNTg0YzAyZWQtOWE0OS00NTA1LTllMWQtNjllZDkwOTgyZWMxLmpwZWc.webp";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}
p{
    margin: 0;
}
.weather-emoji{
    font-size: 4rem;
}
h1{
    margin: 0;
    margin-bottom: 1rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    gap: 5rem;
    /* margin-top: 1rem; */
    /* translate: 0 -8%; */
    /* scale: 0.87; */
}

.input-form{
    margin-top: 0.5rem;
}


.input-form input, .input-form button{
    font-size: 1.5rem;
}
.input-form input{
    border-radius: 2rem;
    border: 2px solid;
    height: 3rem;
    width: 30vw;
    margin-left: 7rem;
    padding: 0 0 0.2rem 1.5rem;
    background-color: transparent;
    caret-color: white;
    color: white;
}

.input-form input:focus{
    outline: none;
}
.input-form button{
    border: 2px solid;
    border-color: linear-gradient(red,blue);
    border-radius: 2rem;
    padding: 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-left: 0.5rem;
    width: fit-content;
}
/* .input-form button:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.02);
    background-color: white;
    color: black;
    border: white 3px solid;
}
.input-form button:active{
    transition: 0.3s ease-in-out;
    transform: scale(1);
} */
/* 
@media (max-width: 1390px) {
    .input-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.3rem;
        width: 80vw;
        margin-left: 0;
    }
    .input-form input{
        width: 80vw;
        margin-left: 0;
    }
    .input-form button{
        width: 100%;
        margin-left: 0 !important;
    }
} */

.gradient-border{
    border-radius: 3rem;
    padding: 2px;
    background-image: linear-gradient(to top, red, blue);
    /* border-image: linear-gradient(to right, red, blue); */
    /* display: inline-block; */
}
.gradient{
    margin-left: 1rem;
}
.weather-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    height: 16rem;
    width: 12rem;
    border-radius: 3rem;
    margin: 0;
    text-align: center;
    background-color: black;
    color: white;
    /* z-index: 1; */
    /* overflow: hidden;  */
}
.hourly-daily-forecast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    height: 7rem;
    width: 3rem;
    border-radius: 3rem;
    margin: 0;
    text-align: center;
    background-color: black;
    color: white;
    border: 2px solid white;
}
.errorDisplay{
    font-size: 2rem;
    color: white;
}


@media (max-width:480px) {
    .input-form{
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }

    .weather-card{
        height: 26vh;
        width: auto;
    }
}


.gradient{
    background:linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 1.3rem; */
    padding: 1.3rem;
    white-space: nowrap;
}

.website-name{
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}

.nav-links{
    display: flex;
    gap: 3rem;
    font-size: 1.4rem;
    margin-right: 4rem;
    margin-left: 4rem;
}
.nav-links a{
    text-decoration: none;
    color: white;
    /* padding: 0.5rem; */
    /* border-radius: 1rem; */
    /* transition: 0.3s ease-in-out; */
    transition: 0.3s ease-in-out;
}

.weather-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.weather-ten-day-forecast{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.forecast-cards,
.hourly-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    /* height: 2rem; */
    align-items: flex-start;
    width: 100%;
    /* border: 2px solid white; */
}

.ten-day-forecast,.hourly-forecast{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid white; */
    min-height: 6rem;
    /* min-height: 4rem; */
    width: fit-content;
    /* max-width: 1600px; */
    padding: 1rem;
    border-radius: 3rem;
    background-color: black;
    box-sizing: border-box;
    overflow-x: auto;
    
}

#getLocationBtn{
    /* background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold; */
    margin-left: 1rem;
}
